:root {
    --black: #000;
    --gold: #ffd700;

    --section_Padding: 1.5rem;
}
body{
  margin: 0px;
}
#hrG{
  width: 30%;
  border: .15rem solid;
  border-color: var(--gold);
  border-radius: 5px;
}