.header_navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #080808;
    cursor: pointer;
}

/* navbar/ul section */
.header_navbar ul {
    float:right;
    margin-right: 30px;
}

/* navbar/ul li section */
.header_navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

/* navbar/ul li a section */
.header_navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

/* logo section */
.header_logo{
    width: 190px;
    cursor: pointer;
}

.header_button{
    padding: 10px 13px;
    text-align: center;
    font-size: 18px;
    font-family: "Arial";
    border-radius: 1px;
    font-weight: bold;
    border: 5px solid #ffd700;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
