/* Header text in the upper left corner */
.header-img {
  display: flex;
  position: absolute;
  top: 40px;
  left: 230px;
  z-index: 1;
}

/* Plans Section */
#plans {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/Plans/plansbg.png');
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Style for the image container */
.image-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Plan boxes */
.child-div, .child1-div {
  width: 20vw;
  padding: 20px;
  color: white;
  font-family: Lucida Sans;
  background-color: rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: space-between; /* Space out elements vertically */
  text-align: center; /* Centers text within each box */
  margin-top: 14%;
}

.child1-div {
  width: 50vw;
  height: 63.5vh;
}

/* Bronze Plan */
.bronze {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 14px;
}

.p_bronzeprice {
  font-size: 50px;
  font-family: Impact;
  color: gold;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Silver Plan */
.silver {
  font-size: 14px;
}

.p_silverprice {
  font-size: 50px;
  font-family: Impact;
  color: gold;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Gold Plan */
.gold {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 14px;
}

.p_goldprice {
  font-size: 50px;
  font-family: Impact;
  color: gold;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Plan titles (Bronze, Silver, Gold, Personalize) */
.p_bronzesign, .p_silversign, .p_goldsign, .p_personalizesign {
  font-size: 30px;
  font-family: Times New Roman;
  color: white;
  margin-top: 15%;
  margin-bottom: 10px; /* Adds consistent spacing below the title */
}

/* Personalize Plan */
.personalize {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: rgba(92, 80, 11, 0.626);
  margin-left: 15px;
  border-radius: 30px;
}

.p_personalizeprice {
  font-size: 30px;
  color: gold;
  font-family: Impact;
  margin-top: -5%;
  margin-bottom: 4%;
}

/* Button Styles */
.join-button, .customize-button {
  padding: 10px 20px;
  color: white;
  background-color: rgba(255, 217, 0, 0.697);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 80%; /* Makes button width consistent with plan content */
  max-width: 150px;
  margin-top: auto; /* Align button to bottom */
  margin-bottom: 10px; /* Adds spacing from container bottom */
}

/* Button hover effect */
.join-button:hover, .customize-button:hover {
  background-color: gold;
}
