*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.pf_background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/Profile/PROFILE.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.pf_container{
    margin: 1%;
    display: flex;
    width: 600px;

    justify-content: baseline;
    background-color:black;
    padding: 5%;
}
.pf_pic{
    width: 150px;
    height: 150px;
}

.pf_text{
    margin-left: 2%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}